.menu-bar {
    -fx-background-color: #B0E0E6; /* Tło MenuBar */
}

.menu-bar1 {
    -fx-background-color: #00CED1; /* Tło MenuBar */
}

.menu {
    -fx-text-fill: #483D8B; /* Kolor tekstu Menu */
}

.menu-item {
    -fx-text-fill: #198fd4; /* Kolor tekstu MenuItem */
}

.label-stylish {
    -fx-text-fill: #483D8B;
    -fx-font-size: 12px;
    -fx-font-family: "Comic Sans MS";
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0.5, 2, 2);
}