.menu-bar {
    -fx-background-color: #FFC0CB; /* Tło MenuBar */
}

.menu-bar1 {
    -fx-background-color: #FF69B4; /* Tło MenuBar */
}

.menu {
    -fx-text-fill: #483D8B; /* Kolor tekstu Menu */
}

.menu-item {
    -fx-text-fill: #198fd4; /* Kolor tekstu MenuItem */
}

/*
.label-stylish {
    -fx-text-fill: #483D8B;
    -fx-font-size: 12px;
    -fx-font-family: "Bellota";
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 5, 0.5, 2, 2);
}*/